body{
  padding: 0;
  margin: 0;
  background-image: url('../images/portadaBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20vh;
}
h1{
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 14pt;
  color: white;
  text-align: center;
}
h2{
  font-family: 'Open Sans';
  font-size: 10pt;
}
p{
  color: white;
  text-align: center;
  font-family: 'Roboto slab';
  font-size: 10pt;
}
input{
  font-family: 'Roboto Slab';
  font-size: 10pt;
}
input::placeholder{
  color: black;
}
.backgroundImage{
  position: fixed;
  height: 100vh;
}
.cabecera{
  background-color: #5D4037;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80%;
  margin-top: 40px;
  position: relative;
  margin: 40px auto auto auto;
}
.inputContenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;

}
.shadow{
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}
.inputContenedor input {
  width: 100%;
  /*background-color: rgba(194,185,182,80);*/
  background-color: white;
  border: none;
  color: black;
  padding-left: 10px;
}
.icon{
  background-color: #5D4037;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.md24 {
  color: white;
}
.buttonSiguiente {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  color: white;
  width: 20vw;
  padding: 10px;
  margin-top: 10px;
  background-color: #00BCD4;
  border: none;
  border-radius: 15px;
  align-self: flex-end;
}
.botoneraContainer {
  display: flex;
  flex-direction: column;
  background-color: #D7CCC8;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.botoneraHeader{
  background-color: #795548;
  width: 100%;
  text-align: center;
  color: white;
}
.botonera{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.boton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 33%;
}
.boton:hover{
  cursor: pointer;
}
.material-icons.md36{
  color: white;
  font-size: 36px;
}
