/*Nico*/

/*Texto*/

.texto{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  font-size: 15pt;
  color: black;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Checkbox con desplegable*/

.checkboxContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
}

.checkboxHeader{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #5D4037;
  width: 100%;
  height: 40px;
}

.checkboxText{
  font-family: "Roboto slab";
  font-size: 12pt;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

/*Dropdown*/
.dropdown {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #D7CCC8;
  border: none;
  color: white;
  padding-left: 10px;
}
.dropdown-content {
  display: none;
  background-color: white;
  margin-left: 44px;
  width: calc(100% - 44px);
  z-index: 1;
}
/*.desplegableContainer:hover .dropdown-content {
  display: block;
}*/

.visible {
  display: block;
}

/*upDownButton*/
.upDownTable
{

}
.upDownHeader
{
  background-color: #795548;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
.upDownLabel
{
  width:100px;
  height:80px;
  text-align: center;
  font-weight:bold;
  border: none;
  padding: 0;
}
.upButton
{
   font-size:7px;
   margin:0;
   padding:0;
   width:20px;
   height:13px;
}
.downButton
{
  font-size:7px;
  margin:0;
  padding:0;
  width:20px;
  height:12px;
}

/*AGREGADO POR SEBA */
.upDownBotonera{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}
.upDownButtonHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5D4037;
  width: 100%;
  height: 40px;
}
.upDownButtonContainer {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 200px;
}
.upDownButtonContainerInternal{
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 80px;
  width: 200px;
}
.upDownButtonBotones{
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100px;
  margin: 0;
  padding: 0;
}

.upButton{
  height: 40px;
  width: 100px;
  border-radius: 0;
  background-color: #5D4037;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: none;
  border-right: none;
  color: white;
}
.downButton{
  width: 100px;
  height: 40px;
  border-radius: 0;
  background-color: #5D4037;
  border:none;
  border-bottom: 1px solid white;
  color: white;
}
.desplegableContainer{
  width: 100%;
}
.label{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.label p{
  color: black;
  text-align: left;
}
.label i{
  color: black;
}
#dropDownToggle{
    background-color: white;
    margin-left: 44px;


}
